@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #DBE2F0;
}
/* #######CIRCLES######## */
.top_circle{
    position: absolute;
width: 508px;
height: 400px;
left: -232px;
top: -177px;

background: #F36B7F;
filter: blur(237px);
}
/* .bottom_circle{
    position: absolute;
width: 320px;
height: auto;
left: -109px;
top: 742px;

background: #A1BDFC;
filter: blur(197.5px);
} */
/* #######CIRCLES######## */

.bg_box{
    position: absolute;
width: 835px;
height: 500px;
left: 203px;
top: 70px;

background: rgba(255, 255, 255, 0.28);
border: 1px solid #FFFFFF;
box-shadow: 1px 1px 28px rgba(0, 0, 0, 0.25);
/* filter: blur(4px); */
border-radius: 46px;
}
.sign_up{
    position: absolute;
width: 328px;
height: 32px;
left: 522px;
top: 91px;
}
.snup{
font-family: 'Rokkitt';
font-style: normal;
font-weight: 700;
font-size: 44px;
line-height: 31px;

display: flex;
align-items: center;
letter-spacing: -0.24px;

background: linear-gradient(90deg, #EE6D84 0%, #739AEC 77.9%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
/* text-fill-color: transparent; */

text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
}


.input{
    display: flex;
    flex-direction: column;

}
.name_I{
    margin-bottom: 5px;
}
.na{
    position: absolute;
width: 59px;
height: 25px;
left: 300px;
top: 150px;
margin-bottom: 10px;
}
.name{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 24px;
/* identical to box height, or 117% */

display: flex;
align-items: center;

color: #000000;
}
#name1{
    box-sizing: border-box;

position: absolute;
width: 660px;
    height: 40px;
    left: 297px;
    top: 179px;

background: rgba(255, 255, 255, 0.26);
border: 1px solid #FFFFFF;
border-radius: 16px;
text-align: center;
}


.email_I{
    position: absolute;
    width: 117px;
    height: 25px;
    left: 300px;
    top: 221px;
    margin-bottom: 10px;
}


.em{
    font-family: 'Rokkitt';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 24px;
/* identical to box height, or 117% */

display: flex;
align-items: center;

color: #000000;
}
#email1{
    box-sizing: border-box;

position: absolute;
width: 660px;
height: 40px;
    /* left: 297px; */
    top: 27px;

background: rgba(255, 255, 255, 0.26);
border: 1px solid #FFFFFF;
border-radius: 16px;
text-align: center;
}

.password_I{
    position: absolute;
    width: 117px;
    height: 25px;
    left: 300px;
    top: 295px;
    margin-bottom: 10px;
}
.pass{
    font-family: 'Rokkitt';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    /* identical to box height, or 117% */
    
    display: flex;
    align-items: center;
    
    color: #000000;
}
#pass1{
    box-sizing: border-box;

position: absolute;
width: 660px;
height: 40px;
    /* left: 297px; */
    top: 27px;

background: rgba(255, 255, 255, 0.26);
border: 1px solid #FFFFFF;
border-radius: 16px;
text-align: center;
}

.enter{
    position: absolute;
width: 585px;
height: 57px;
left: 340px;
    top: 382px;

background: linear-gradient(90deg, #F36B7F 0%, #719AED 96.41%);
border-radius: 15px;
border: #FFFFFF;
color: #FFFFFF;
}
.op{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 24px;
/* identical to box height, or 117% */
margin-left: 242px;
display: flex;
align-items: center;

color: #FFFFFF;
}
.or1{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 457px;
    left: 460px;
}
.line1{
    width: 157.5px;
height: 0px;
/* padding: auto; */
border: 1px solid rgba(0, 0, 0, 0.31);

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin-top: 10px;
}
.ore{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 24px;

display: flex;
align-items: center;

color: rgba(0, 0, 0, 0.5);


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.line2{
    width: 157.5px;
height: 0px;

border: 1px solid rgba(0, 0, 0, 0.31);

/* Inside auto layout */
margin-top: 10px;
flex: none;
order: 2;
flex-grow: 0;
}
